.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.container > * {
  width: 100%;
  max-width: 700px;
}

.container h1 {
  font-size: 2rem;
  text-shadow: 2px 2px 0 #000000;
  margin-bottom: 0.5rem;
  width: auto;
}

p {
  line-height: 1.6;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

span {
  color: #ffd700;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
}

@media (max-width: 600px) {
  .container {
    padding: 0 1rem;
  }

  .container h1 {
    font-size: 1.6rem;
    text-align: center;
  }

  p {
    font-size: 1rem;
  }
}
