.header {
  max-width: 60rem;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  text-decoration: underline;
  color: var(--color-primary-800);
}

h1 {
  margin-top: 0%;
  margin-right: 10%;
  color: var(--color-primary-900);
  font-size: xx-large;
  line-height: 1.2;
}
