.form {
  max-width: 40rem;
  margin: 0.5rem auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  font: small;
  padding: 0.25rem;
  border-radius: 4px;
  width: 19rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.actions button {
  width: 2rem;
  font: small;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
  border: none;
}

.actions button {
  background-color: transparent;
  color: var(--color-gray-300);
}

.actions button:hover {
  background-color: var(--color-primary-300);
}

.actions button[type="button"]:hover {
  background-color: var(--color-gray-800);
}
